extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src='/socket.io/socket.io.js')

  script
    var socket = io.connect();
    socket.on('connect', function() {
      socket.emit('message', { client: 'hello' });

      socket.on('message', function(data) {
        console.log(data);
      });
     });